---
layout: default
title: ~/
---

<p>My name is Geoff Greer. This is my website.</p>

<ul style="font-size: 121%">
  <li><a href="/about/">About me</a></li>
  <li><a href="/bets/">Bets</a></li>
  <li><a href="/dev/">Dev environment</a></li>
  <li><a href="/projects/">Projects</a></li>
  <li><a href="/questions/">Questions</a></li>
</ul>

<h2>Posts</h2>

<div id="post-list">
{% for post in site.posts %}
{% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture post_month %}{{ post.date | date: "%b" }}{% endcapture %}
    {% if last_post_year != post_year %}
{% capture last_post_year %}{{ post_year }}{% endcapture %}
<br /><div class="year">{{ last_post_year }}</div>
    {% endif %}
    {% if last_post_month != post_month %}
{% capture last_post_month %}{{ post_month }}{% endcapture %}
<br /><div class="month">{{ last_post_month }}</div><br />
    {% endif %}
<div class="day">{{ post.date|date:"%d" }}</div>
<div class="index-post-title"><a href="{{ post.url }}">{{ post.title | xml_escape }}</a></div>
<br />
{% endfor %}
</div>
