---
layout: default
title: ~/
---

{% for post in site.posts %}
{% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture post_month %}{{ post.date | date: "%b" }}{% endcapture %}
    {% if last_post_year != post_year %}
{% capture last_post_year %}{{ post_year }}{% endcapture %}
<br /><div class="year date">{{ last_post_year }}</div>
    {% endif %}
    {% if last_post_month != post_month %}
{% capture last_post_month %}{{ post_month }}{% endcapture %}
<br /><div class="month date">{{ last_post_month }}</div><br />
    {% endif %}
<div class="day date">{{ post.date|date:"%d" }}</div>
<div class="index_post_title"><a href="{{ post.url }}">{{ post.title }}</a></div>
<br />
{% endfor %}
