<script type="text/javascript">
var main_css = document.getElementById("main-css");
var code_css = document.getElementById("code-css");
function set_colors() {
  document.cookie.split("; ").forEach(function (cookie) {
    var key = cookie.split("=")[0];
    var value = cookie.split("=")[1];
    if (key === "main-css" && value === "/styles/main-inverted.css") {
      document.body.style.background = "#000";
      main_css.attributes.href.value = "/styles/main-inverted.css";
      code_css.attributes.href.value = "/styles/solarized-dark.css";
    }
  });
}
function invert_colors() {
  var css_file;
  if (main_css.attributes.href.value === "/styles/main.css") {
    css_file = "/styles/main-inverted.css";
    code_css.attributes.href.value = "/styles/solarized-dark.css";
  } else {
    css_file = "/styles/main.css";
    code_css.attributes.href.value = "/styles/solarized-light.css";
  }
  main_css.attributes.href.value = css_file;
  document.body.style.background = "";
  var date = new Date();
  date.setTime(date.getTime() + 30 * 24 * 60 * 60 * 1000);
  document.cookie = "main-css=" + css_file + "; expires=" + date.toGMTString() + "; path=/";
}
set_colors();
</script>
