<div class="wrapper">
  <div id="header" class="row">
    <div class="col w2">
      <a id="home-link" href="/">Geoff<span class="background">.</span>Greer<span class="background">.fm</span></a>
      <div class="sub-header">
        <a href="/about/">About Me</a> &#183;
        <a href="/bets/">Bets</a> &#183;
        <a href="/questions/">Questions</a>
      </div>
    </div>
    <div class="col w3">
      <a href="/projects/">Projects</a>
      <div class="sub-header">
        <a href="/3d/">3D</a> &#183;
        <a href="/miata/">Miata</a>&#183;
        <a href="/ag/">Ag</a> &#183;
        <a href="/fsevents/">FSEvents</a> &#183;
        <a href="/ciphersuite/">TLS config</a> &#183;
        <a href="/lscolors/">LS_COLORS</a>
      </div>
    </div>
    <div class="col w1"><a href="/{{ site.gallery.dir }}/">Photos</a></div>
  </div>
</div>
