<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
        Geoff's site: {{ page.title }}
    </title>
    <meta name="author" content="Geoff Greer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | split:"index.html" | first }}" />
    <link rel="alternate"  type="application/atom+xml" href="/feed.atom" title="Geoff.Greer" />
    <link id="main-css" rel="stylesheet" type="text/css" media="all" href="/styles/main.css" />
    <link id="code-css" rel="stylesheet" type="text/css" media="all" href="/styles/solarized-light.css" />
    <script type="text/javascript">
    var main_css = document.getElementById("main-css");
    var code_css = document.getElementById("code-css");
    function set_colors() {
      document.cookie.split("; ").forEach(function (cookie) {
        var key = cookie.split("=")[0];
        var value = cookie.split("=")[1];
        if (key === "main-css" && value === "/styles/main-inverted.css") {
          window.addEventListener("load", function () {
            main_css.attributes.href.value = "/styles/main-inverted.css";
            code_css.attributes.href.value = "/styles/solarized-dark.css";
          });
        }
      });
    }
    function invert_colors() {
      var css_file;
      if (main_css.attributes.href.value === "/styles/main.css") {
        css_file = "/styles/main-inverted.css";
        code_css.attributes.href.value = "/styles/solarized-dark.css";
      } else {
        css_file = "/styles/main.css";
        code_css.attributes.href.value = "/styles/solarized-light.css";
      }
      main_css.attributes.href.value = css_file;
      var date = new Date();
      date.setTime(date.getTime() + 30 * 24 * 60 * 60 * 1000);
      document.cookie = "main-css=" + css_file + "; expires=" + date.toGMTString() + "; path=/";
    }
    set_colors();
    </script>
</head>
