<div class="wrapper">
  <div class="row">
    <div class="col w6">
      <div class="invert-colors" onclick="invert_colors()">
        <span>Go dark.</span>
      </div>
    </div>
  </div>
  <div id="header" class="row">
    <div class="col w2"><a id="home-link" href="/">Geoff<span class="background">.</span>Greer<span class="background">.fm</span></a></div>
    <div class="col w2">
      <a href="/projects/">Projects</a>
      <div id="projects">
        <a href="/ag/">Ag</a> &#183;
        <a href="/fsevents/">FSEvents</a> &#183;
        <a href="/ciphersuite/">TLS config</a> &#183;
        <a href="/lscolors/">LS_COLORS</a>
      </div>
    </div>
    <div class="col w1"><a href="/{{ site.gallery.dir }}/">Photos</a></div>
    <div class="col w1"><a href="/about/">About Me</a></div>
  </div>
</div>
