<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
        Geoff's site: {{ page.title }}
    </title>
    <meta name="author" content="Geoff Greer" />
    <link href="/feed.rss" rel="alternate" title="RSS" type="application/rss+xml" />
    <link rel="stylesheet" type="text/css" media="all" href="/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/styles/solarized.css" />
    <link rel="alternate" type="application/rss+xml" href="http://geoff.greer.fm/feed/" title="~/ RSS feed" />
</head>
