<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include head.html %}
<body>
{% include colors.html %}
{% include header.html %}
<div id="wrapper" style="max-width: 100%;">
<div class="post-header">
<div class="post-title">{{ page.title }}</div>
</div>
</div>
<div id="gallery-list">
{% for gallery in page.galleries %}
<div class="gallery-index">
    <a href="{{ gallery['gallery'] }}">
        <img src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
    </a>
    <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
    {{ gallery["images"] | size }} images
</div>
{% endfor %}
</div>
{% include footer.html %}
{% include ga.html %}
</body>
</html>
