<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">
<html version="XHTML+RDFa 1.1" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% include head.html %}
</head>
<body>
{% include header.html %}
<div id="wrapper" style="max-width: 100%;">
<div class="post-header">
<div class="post-title">{{ page.title | xml_escape }}</div>
</div>
</div>
<div id="gallery-list">
{% for gallery in page.galleries %}
<div class="gallery-index">
  <a href="{{ gallery['gallery'] }}">
    <img alt="{{ gallery['name'] }}" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}" />
  </a>
  <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
  {{ gallery["images"] | size }} images
</div>
{% endfor %}
</div>
{% include footer.html %}
{% include ga.html %}
</body>
</html>
