<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">
<html version="XHTML+RDFa 1.1" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% include head.html %}
</head>
<body>
{% include colors.html %}
<div id="wrapper" style="max-width: 100%;">
{% include header.html %}
<div class="post-header">
<div class="post-title"><a href="/{{ site.gallery.dir }}">{{ page.title | xml_escape }}</a></div>
</div>
</div>
<div class="gallery">
{% for image in page.images %}
<div class="gallery-image-wrapper">
  <a id="{{ image.name }}"></a>
  <a href="{{ image.name }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
    <img class="gallery-image" alt="{{ image.name }}" src="thumbs/{{ image.name }}" />
  </a>
</div>
{% endfor %}
<p class="disclaimer-cc-by-sa">
  <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0;" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
  <br />These pictures are licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
</p>
</div>
{% include footer.html %}
{% include ga.html %}
</body>
</html>
