<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">
<html version="XHTML+RDFa 1.1" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% include head.html %}
{% include twitter_card.html %}
{% include og.html %}
</head>
<body>
<div id="wrapper">
{% include header.html %}
<article>
<div class="post-header">
<div class="post-title" itemprop="title"><a href="{{ page.url }}">{{ page.title | xml_escape }}</a></div>
<hr />
<div class="post-date" itemprop="pubdate">{{ page.date | date_to_string }}</div>
</div>
<div class="post">
{{ content }}
</div>
</article>
<hr />
<div class="nav">
{% if page.previous %}
<a class="nav-left" href="{{ page.previous.url }}"><span style="float: left;">&larr;&nbsp;</span>{{ page.previous.title | xml_escape }}</a>
{% endif %}
{% if page.next %}
<a class="nav-right" href="{{ page.next.url }}"><span style="float: right;">&nbsp;&rarr;</span>{{ page.next.title | xml_escape }}</a>
{% endif %}
</div>
<hr />
{% include disqus.html %}
<hr />
{% include footer.html %}
</div>
{% include ga.html %}
</body>
</html>
