<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include head.html %}
<body>
<div id="wrapper">
{% include header.html %}
<div class="post_header">
<div class="post_title">{{ page.title }}</div>
<hr />
<div class="post_date">{{ page.date | date_to_string }}</div>
</div>
<div class="post">
{{ content }}
</div>
<hr />
<table class="nav" style="line-height: 130%; width: 100%;">
    <tr>
        <td style="text-align: center; width: 50%;">
            {% if page.previous %}
            <div style="width: 80%; float: left;"><a href="{{ page.previous.url }}">« {{ page.previous.title }}</a></div>
            {% endif %}
        </td>
        <td style="text-align: center; width: 50%;">
            {% if page.next %}
            <div style="width: 80%; float: right;"><a href="{{ page.next.url }}">{{ page.next.title }} »</a></div>
            {% endif %}
        </td>
    </tr>
</table>
<hr />
{% include disqus.html %}
{% include footer.html %}
</div>
{% include ga.html %}
</body>
</html>
