@import "hexagons.less";

body {
  background-color: black;
  height: 100%;
  width: 100%;
}

#countdown_display {
  color: #f60;
  font-family: 'Oswald', Impact, sans-serif;
  font-size: 192px;
  margin: 0 auto;
  width: 600px;
}
