@import "colors.less";
@import "hexagons.less";

@segment_border: 45px;
@segment_height: 250px;
@segment_width: 200px;

@digit_height: @segment_height * 2;
@digit_width: @segment_width;

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

#wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#sign {
  font-size: 196px;
  display: none;
}

#countdown_display {
  color: @countdown;
  font-family: 'Oswald', Impact, sans-serif;
  margin: 0 auto;
  height: @digit_height;
  width: @digit_width * 7;
}

.digits {
  display: inline-block;
  height: @digit_height;
  width: @digit_width * 2 + @segment_border;
}

.digit {
  display: inline-block;
  height: @digit_height;
  width: @digit_width;
  position: relative;
}

.segment_edge {
  float: left;
  content: "";
}

.segment {
  position: absolute;
  display: none;
  .bottom {
    border-left: @segment_border solid transparent;
    border-right: @segment_border solid transparent;
    border-top: @segment_border solid @countdown;
  }
  .top {
    border-bottom: @segment_border solid @countdown;
    border-left: @segment_border solid transparent;
    border-right: @segment_border solid transparent;
  }
  .left {
    border-bottom: @segment_border solid transparent;
    border-right: @segment_border solid @countdown;
    border-top: @segment_border solid transparent;
    height: @segment_height - (@segment_border * 2);
  }
  .right {
    border-bottom: @segment_border solid transparent;
    border-left: @segment_border solid @countdown;
    border-top: @segment_border solid transparent;
    height: @segment_height - (@segment_border * 2);
  }

  &.on {
    display: inline-block;
  }
  &.a {
    width: @segment_width;
    height: @segment_border;
    top: 0;
    left: 0;
  }
  &.b {
    width: @segment_border;
    height: @segment_height;
    top: 0;
    right: 0;
  }
  &.c {
    width: @segment_border;
    height: @segment_height;
    top: @segment_height;
    right: 0;
  }
  &.d {
    width: @segment_width;
    height: @segment_border;
    bottom: 0;
    left: 0;
  }
  &.e {
    width: @segment_border;
    height: @segment_height;
    top: @segment_height;
    left: 0;
  }
  &.f {
    width: @segment_border;
    height: @segment_height;
    top: 0;
    left: 0;
  }
  &.g {
    width: @segment_width;
    height: @segment_border;
    top: @segment_height - @segment_border;
    left: 0;
  }
}
