@white: #fff;
@black: #000;
@header-font: "HelveticaNeue-Light",Helvetica,Arial,sans-serif;

body {
    background: @white;
    font-family: georgia,times,serif;
    font-size: 120%;
    color: @black;
    text-rendering: optimizeLegibility;
}

a, a:link { color:@black; text-decoration:none; }
a:visited { color:#555; }
a:hover { text-decoration:underline; }
a:active { color:#aaa; }

hr {
    height: 1px;
    background-color: @black;
    border: 0;
}

#wrapper {
    margin: 0 auto;
    max-width: 35em;
    min-width: 25em;
    width: 80%;
}

#title {
    font-size: 3.5em;
    text-align: center;
    margin: 0.2em 0 0.1em;
    padding: 0;
}

#header {
    text-align: center;
    font-family: @header-font;
}
#header ul, div#header ul li {
    display: inline;
    list-style: none;
}
#header ul li {
    line-height: 200%;
    margin: 0 1em;
}
#menu {
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @header-font;
    font-weight: normal;
    margin: 1em 0 0 0;
}

.post_header {
    font-family: @header-font;
}
.post_title {
    margin-top: 0.75em;
    font-size: 2em;
}
.post_date {
    line-height: 150%;
    text-align: right;
    width: 100%;
}
.post {
    line-height: 165%;
}
.post img {
    max-width: 100%;
}
.post a, .post a:link {
    text-decoration: underline;
}

.highlight {
    -webkit-overflow-scrolling: touch;
}

.year {
    color: #aaa;
    font-size: 140%;
}
.month {
    font-size: 125%;
    color: #777;
}
.day {
    float: left;
    clear: both;
    text-align: center;
}
.date {
    width: 4em;
}
.index_post_title {
    padding-left: 4em;
}

.gallery-image-wrapper {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1em;
  position: relative;
  text-align: center;
}
.gallery-image {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  max-height: 100%;
  max-width: 100%;
}
