@media_max_width: 768px;
@max_width: 768px;
@min_width: 320px;
@body_margin: 10px;
@space: 16px;

:root {
  --body_background: #fff;
  --body_color: #000;
  --link_visited: #555;
  --link_active: #aaa;
  --gallery_link: #aaa;
  --gallery_link_visited: #777;
  --home_link_background: #bbb;
}


@media (prefers-color-scheme: dark) {
  :root {
    --body_background: #000;
    --body_color: #fff;
    --link_visited: #aaa;
    --link_active: #555;
    --gallery_link: #555;
    --gallery_link_visited: #888;
    --home_link_background: #444;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body_background: #fff;
    --body_color: #000;
    --link_visited: #555;
    --link_active: #aaa;
    --gallery_link: #aaa;
    --gallery_link_visited: #777;
    --home_link_background: #bbb;
  }
}

@import "gallery";

.header-font() {
    font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
    font-weight: lighter;
    opacity: 0.85;
}

body {
    background: var(--body_background);
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", georgia, Garamond, times, serif;
    font-size: 121%;
    color: var(--body_color);
    margin: @body_margin;
    text-rendering: optimizeLegibility;
}

.nows {
    margin: 0;
    padding: 0;
}

a, a:link { color: var(--body_color); text-decoration: none; }
a:visited { color: var(--link_visited); }
a:hover { text-decoration: underline; }
a:active { color: var(--link_active); }

hr {
    height: 1px;
    background-color: var(--body_color);
    border: 0;
    clear: both;
}

// Nav thingy at the bottom of posts.
.nav {
}
.nav(@direction) {
    float: @direction;
    line-height: 150%;
    .header-font;
    padding-bottom: @space;
    white-space: nowrap;
}
.nav-left { .nav(left); }
.nav-right { .nav(right); }

.wrapper {
    margin: 0 auto;
    max-width: @max_width;
    min-width: @min_width;
}

#wrapper {
    .wrapper;
}

// Main page list
#post-list {
    font-size: 115%;
    margin: 0 auto;
    .year {
        color: var(--link_active);
        font-size: 140%;
    }
    .month {
        color: var(--gallery_link_visited);
        font-size: 125%;
    }
    .day {
        float: left;
        clear: both;
        text-align: center;
        width: @space*4;
    }
    .index-post-title {
        padding-left: @space*4;
        word-wrap: break-word;
    }
}

#header {
    justify-content: center;
    .header-font;
    text-align: center;
    font-size: 120%;
    .sub-header {
        font-size: 60%;
        a {
            white-space: nowrap;
        }
    }
    a#home-link {
        color: var(--body_color);
        span.background {
            color: var(--home_link_background);
        }
        &:hover {
            span.background {
                color: inherit;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    .header-font;
    margin: @space*3 0 @space 0;
}

nav#toc{
    border: 1px solid var(--body_color);
    #toc-title { margin: @space; }
    .header-font;
    ul#markdown-toc {
        margin-top: 0;
        li {
            a, a:link { text-decoration: none; }
            a:hover { text-decoration: underline; }
        }
    }
}

.post-header {
    .header-font;
    .post-title {
        margin-top: 0.75em;
        font-size: 1.9em;
        a:visited { color: var(--body_color); }
        a:hover { text-decoration: none; }
    }
    .post-date {
        line-height: 150%;
        text-align: right;
        width: 100%;
    }
}
.post {
    line-height: 145%;
    padding-bottom: 1em;
    max-width: 60ch; // Narrow, but very readable
    sup {
        line-height: 100%;
        margin-left: 1px;
    }
    @media (max-width: 60ch) {
        font-size: 115%;
        img { max-width: 100%; }
    }
    @media (min-width: 60ch) and (max-width: (@body_margin * 2 + @media_max_width)) {
        img { max-width: ~"calc(100vw - @{body_margin} * 2)"; }
    }
    @media (min-width: (@body_margin * 2 + @media_max_width)) {
        img { max-width: @max_width; }
    }

    a, a:link { text-decoration: underline; }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        th, td {
            border: 1px solid black;
            padding: @space/4;
        }
    }
    blockquote {
        border-left: @space/4 solid var(--home_link_background);
        padding-left: @space/2;
    }
}

div.row {
    .nows;
    max-width: @max_width;
    min-width: @min_width;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
div.col {
    .nows;
    padding-bottom: @space;
    vertical-align: top;
    &.w1 { min-width: @max_width/6; flex: 0 0 100%/6; }
    &.w2 { min-width: @max_width/3; flex: 0 0 100%/3; }
    &.w3 { min-width: @max_width/3; flex: 0 0 100%/2; }
    &.w4 { min-width: @max_width/3; flex: 0 0 100%/1.5; }
    &.w5 { min-width: @max_width/3; flex: 0 0 100%/(5/6); }
    &.w6 { min-width: @max_width/3; flex: 0 0 100%; }
}

.fixed-font {
    font-family: Menlo, "Deja Vu Sans Mono", Consolas, monospace;
}

// Make code more easily scrollable in iOS
.highlight {
    -webkit-overflow-scrolling: touch;
}
figure.highlight {
    .nows;
}

pre {
    line-height: 120%;
    padding: 0.5em;
    overflow: auto;
}

code {
    font-size: 82%;
    .fixed-font;
}

.invert-colors {
    .fixed-font;
    background-color: var(--body_color);
    color: var(--body_background);
    cursor: pointer;
    font-size: 50%;
    margin: 0 auto;
    max-width: @min_width;
    opacity: 0.2;
    padding: 4px 0;
    text-align: center;
    &:hover {
      opacity: 1.0;
    }
}
