@body_background: #000;
@body_color: #fff;
@link_visited: #aaa;
@link_active: #555;
@gallery_link: #555;
@gallery_link_visited: #888;
@home_link_background: #444;

@import "main-base";
@import "gallery";
